/**
 * Styles that particularly handle the header
 */

header {
    color: gray;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 200%;
    opacity: .7;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-100%);
    text-align: center;
    left: 0;
    width: 100%;
    -webkit-animation-duration: .6s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    transition: top 1.5s ease-out;
}

header span {
   -webkit-animation-name: blip;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 4s;
}

/**
 * Different delays work with the `blip` animation to have each letter
 * blip at a different time and create a sort of scrolling effect
 */
.m {
    -webkit-animation-delay: 2.5s;
}
.o {
    -webkit-animation-delay: 2.7s;
}
.b {
    -webkit-animation-delay: 2.9s;
}
.r {
    -webkit-animation-delay: 3.1s;
}
.u {
    -webkit-animation-delay: 3.3s;
}
.n {
    -webkit-animation-delay: 3.5s;
}
.s {
    -webkit-animation-delay: 3.7s;
}

